:root {
    --bg: #07080A;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    background: var(--bg);
    font-family: estedad;
    overflow-x: hidden;
}

button,
input,
textarea,
select {
    font-family: estedad;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: estedad;
    src: url("../assets/fonts/Estedad-Bold.ttf");
}