:root {
    --bg: #07080A;
    --main-red: #D70D1D;
    --red-title: #D61129;
    --red-border: rgba(215, 13, 29, 0.5);
    --red-glow: 0 0 20px rgba(215, 13, 29, 0.45);
    --text: #FFFFFF;
    --text-muted: #9BA3AA;
    --bg-section: #040507;
}

/* styling header*/

#header {
    padding: 1.2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--bg);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header__logo-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.header__logo {
    width: 60px;
    height: 50px;
}

.header__logo-title {
    color: var(--text);

}

.header__navbar {
    display: flex;
    gap: 2rem;
}

.header__nav-link {
    color: var(--text-muted);
    display: inline-block;
    position: relative;
    padding: 3px 0;
    overflow: hidden;
    transition: color 0.4s linear;

    &:not(.header__active)::after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: -100%;
        background: var(--main-red);
        transition: left 0.4s ease,
            opacity 0.4s ease;
        opacity: 0;
    }

    &:hover::after {
        left: 0;
        opacity: 1;
    }

    &:not(.header__active):hover {
        color: var(--text);
    }
}

.header__active {
    padding: 2px 0;
    color: var(--main-red);
    border-bottom: 2px solid var(--main-red);
}


/* Hero Section Styling */

#hero {
    display: flex;
    gap: 2rem;
    padding: 5rem 0;
    justify-content: space-between;

}

.hero__left-section {
    padding-left: 2rem;
    width: 40%;
    align-self: center;

}

.hero__right-section {
    width: 60%;
}

.hero__img {
    width: 100%;
}



.hero__title {
    color: var(--text);
    font-size: 1.2rem;
}

.hero__title--special {
    color: var(--red-title);

}

.hero__slogan {
    color: var(--text);
    font-size: 3.3rem;
    margin: 1.4rem 0;
}

.hero__slogan--special {
    color: var(--red-title);
}

.hero__describtion {
    color: var(--text-muted);
}

/* styling services container */

#services {
    direction: rtl;
}

.services__describtion {
    color: var(--text-muted);
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.services__cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.services__card {
    background: var(--bg-section);
    border: 2px solid var(--red-border);
    width: 20%;
    height: 30dvh;
    transition: box-shadow 0.5s ease,
        transform 0.5s ease;
    border-radius: 10px;

    &:hover {
        box-shadow: var(--red-glow);
        transform: translateY(-2px);
    }
}

.services__icon {
    display: inline-block;
    color: var(--red-title);
    font-size: 45px;
    margin: 0.5rem 0.7rem 0.5rem 0;
}

.services__card-title {
    color: var(--text);
    margin: 0 0.7rem 0.5rem 0;
}

.services__card-describtion {
    color: var(--text-muted);
    margin: 0 0.7rem 0 0;
}


/* About me styles */

#about-me {
    direction: rtl;
    max-width: 1200px;
    margin-inline: auto;
    padding: 4rem 2rem;
}

.about-me__sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22rem;
    margin-top: 3rem;
}

.about-me__right-section {
    flex: 0 1 38%;
}

.about-me__right-section img {
    display: block;
    width: 180%;
    height: auto;
    border-radius: 12px;
}

.about-me__left-section {
    flex: 0 1 52%;
}

.about-me__special {
    color: var(--red-title);
    margin-bottom: 0.5rem;
}

.about-me__title {
    color: var(--text);
    margin-bottom: 1rem;
    font-size: 1.7rem;
}

.about-me__describtion {
    color: var(--text-muted);
    line-height: 2;
    font-size: 1rem;
}

/* contact-me styles */

#contact-me {
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-me__contact-card {
    border: 1px solid var(--red-border);
    box-shadow: var(--red-glow);
    width: 50%;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border-radius: 10px;

}

.contact-me__link {
    display: inline-block;
}

.contact-me__icon {
    color: var(--main-red);
    font-size: 1.6rem;

    background: #c5616d31;
    padding: 0.5rem 0.6rem;
    border-radius: 10px;
    border: 2px solid var(--red-title);
    transition: background 0.5s ease;
    cursor: pointer;

    &:hover {
        background: var(--bg-section);
    }

}

.contact-me__title {
    color: var(--text);
    margin-bottom: 0.3rem;
}

.contact-me__details {
    color: var(--text-muted);
    font-size: 0.9rem;
}

.contact-me__social-links {
    display: flex;
    gap: 0.5rem;
}

.contact-me__contact-card.special {
    justify-content: space-between;
}

/* footer styling */

#footer {
    border-top: 2px solid var(--red-title);
    padding: 1.4rem 2rem;
    display: flex;
    justify-content: space-between;
    background: var(--bg-section);
    align-items: center;
}

.footer__logo-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.footer__logo {
    width: 60px;
    height: 50px;
}

.footer__logo-title {
    color: var(--text);

}

.programmer {
    color: var(--text);
}
.programmer a {
    color: blue;
    text-decoration: underline;
}

.footer__copy-right-text {
    color: var(--text-muted);
}